body {
    padding: 0;
    margin: 0;
}
.incident-container {
    position: relative;
    margin-top: 80px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #000;
    color: white;
    padding: 20px;
}

.incident-container .icon {
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
    font-size: 60px;
    border-radius: 50%;
    background: #fff;
    color: black;
}

.incident-container .incident-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.incident-container .incident-info .title {
    font-size: 24px;
}

.incident-container .incident-info .description {
    font-size: 18px;
}

.incident-container .incident-info .meta {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.comments {
    padding: 40px;
}